@import 'colors';

body{
	background-color: $POLISHEDPINE;
	color: $LICORICE;

	.jumbrotron{
		background-color: $MEDIUMAQUAMARINE;
	}

	.header{
		text-align: center;
		color: $LICORICE;
	}

	.form-group{
		text-align: center;
		font-size: 16px;
	}
}